*{
    font-family: sans-serif;
}
/* header section  */

header{
    padding: 50px 100px;
    background-color: rgba(255, 144, 14, 0.1);
}
/* nav section  */
nav{
    display: flex;
    justify-content: space-between;
    
    }
ul{
    display: flex;
}
h2{
    font-size: 40px;
}
ul li{
    list-style: none;
    margin-left: 50px;
     }
     ul li a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 600;
           }

           /* group of architecture  */
.group-architec{
text-align: center

}    
.group-title{
        font-size: 50px;
    }  
.group-sub-title{
        font-size: 60px;
        margin-top: 0;
    } 
    .button{
        height: 50px;
        width: 150px;
        border-radius: 5px;
        background-color: #FF900E;
        color: white;
        font-weight: 600;
        border: none;
        font-size: 15px;
    }
    .banner{
        margin-top: 100px;
        padding-left: 120px;
    }

    /* main section  */

    /* team work section  */
    main{
        padding: 60px 250px;
    }

.team-work{
display: flex;
align-items: center;
    }
.team-work .grid{
        display: grid;
        grid-template-columns: repeat(2,380px);
    }
    .team-title{
        color: #727272;
    }
    .title-sec{
        color: black;
    }
    .feature{
        color: 
        #FF900E;
        font-size: 50px;
    }

    /* architecture */
    .architecture{
        display: flex;
        margin-top: 100px;
    }
    .arc-main-title{
        font-size: 40px;
        font-weight: 700;
        height: 100px;
        width: 400px;
    
    }
    .section-div{
        box-shadow: 0px 7px 30px lightgray;
        margin: 50px ;
        width: 586px;
       height: 140px;
       left: 240px;
      top: 3105px;
      padding: 30px;
      border-radius: 10px;

    }
    .arc-title{
        font-size: 20px;
        font-weight: 600;
    }
    .arc-des{
        font-size: 15px;
        color: #727272;
        left: 240px;
    }
.arc-button{
position: relative;
width: 350px;
height: 250px;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 50px;
text-align: center;
left: 700px;
top: -300px;
background-color: #FF900E;
color: white;
border-radius: 20px;
border: none;

    }

    /* some facts section  */

    .facts-info{
        position: relative;
        top: -200px;
        height: 30px;
        width: 450px;
    }
    .facts-icon{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        margin-left: 50px;
    }
.icon-des{
    width: 250px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
        }
.icons-sub-title{
            font-size: 20px;
            color: #727272;
            font-weight: 700;
               }

               /* sponsors */
 .sponsor {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
 }             
 .sponsor-title{
    font-size: 40px;
    font-weight: 900;
 }
 .sponsor-image{
    display: flex;
    justify-content: center;
    gap: 80px ;
    margin-top: 100px;
 }
 .image{
    mix-blend-mode: luminosity;
 }
 
 /* top-architect */

 .top-arc{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }
 .top-persons{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .top-arc div img{
    width: 150px;
height: 150px;
}
 /* footer section  */

 footer{
    margin-top: 100px;
    background-color: rgba(255, 144, 14, 0.1); 
height: 100px;
text-align: center;
padding: 50px;
 }
/* responsive section  */

 @media  screen and (max-width:668px) {
    main{
        padding: 0px;
    }
    header{
        padding: 19px;
          }

    nav ul,
    nav,
    .team-work,
    .architecture,
    .facts-icon,
    .sponsor-image,
    .top-arc
    {
        flex-direction: column;
    }
   .banner .banner-img{
        width: 668px;
      

    }
    .banner{
        padding-left: 0px;
        
    }
.team-work .grid{
    grid-template-columns: repeat(1,1fr);
}
.arc-main-title{
    width: 100%;
    height: auto;
}
.arc-img{
    width: 668px;
    
}
.arc-button{
    width: 200px;
    height: 100px;
    left: 0px;
    top: -100px;
    margin-bottom: 100px;
    font-size: 20px;
}
.section-div{
    width: 100%;
    height: auto;
    left:-600px
    ;
    top: 100%;
    margin: 50px 0 50px 0;
    padding:0
}
.facts-info{
    height: auto;
    width: 100%;
}  
     .facts-icon{
         margin-left:0px;
     }
 }
